numpy
pandas
openpyxl
xlrd
geopandas
Flask
plotly
dash
dash-bootstrap-components
dash-extensions
dash-mantine-components
dash-datatables
psycopg2
psycopg2-binary
SQLAlchemy
GeoAlchemy2
Shapely
persiantools