numpy
pandas
geopandas
xlrd
openpyxl
Flask==2.1.2
plotly
dash==2.6.0
dash-bootstrap-components
dash-extensions
dash-mantine-components
dash-iconify
dash-datatables
psycopg2
psycopg2-binary
SQLAlchemy
GeoAlchemy2
redis
Shapely