
@font-face {
  font-family: "Vazir-Regular-FD";
  src: url("../fonts/Vazir-Regular-FD.eot");
  src: url("../fonts/Vazir-Regular-FD.woff2") format("woff2"),
    url("../fonts/Vazir-Regular-FD.woff") format("woff"),
    url("../fonts/Vazir-Regular-FD.ttf") format("truetype");
  font-weight: normal;
}

body {
    font-family: "Vazir-Regular-FD";
    padding-top: 56px;
    direction: rtl;
    text-align: right;
}