@font-face {
    font-family: "Sahel-FD";
    src: url("../fonts/Sahel-FD.eot");
    src: url("../fonts/Sahel-FD.woff2") format("woff2"),
      url("../fonts/Sahel-FD.woff") format("woff"),
      url("../fonts/Sahel-FD.ttf") format("truetype");
    font-weight: normal;
}

body {
    font-family: "Sahel-FD";
    padding-top: 56px;
    direction: rtl;
    text-align: right;
}