
@font-face {
  font-family: "Vazir-Regular-FD";
  src: url("../fonts/Vazir-Regular-FD.eot");
  src: url("../fonts/Vazir-Regular-FD.woff2") format("woff2"),
    url("../fonts/Vazir-Regular-FD.woff") format("woff"),
    url("../fonts/Vazir-Regular-FD.ttf") format("truetype");
  font-weight: normal;
}

#js-plotly-tester {
  /* display: none; */
  position: absolute !important;
  left: -10000px !important;
  top: -10000px !important;
  width: 0px !important;
  height: 0px !important;
  z-index: 0 !important;
}

body {
  font-family: "Vazir-Regular-FD";
  direction: rtl;
  text-align: right;
}

.upload {
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-width: 1px;
  border-style: dashed;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.h-body {
  height: calc(100vh - 56px);
}

.select_file_button {
  width: 60%;
  height: 40px;
  line-height: 40px;
  border-width: 1px;
  border-style: dashed;
  border-radius: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.mantine-hgwlez.mantine-Accordion-label {
  direction: rtl;
  text-align: right;
  font-family: "Vazir-Regular-FD"
}

.mantine-10o5s20.mantine-Accordion-contentInner {
  background-color: white;
  font-family: "Vazir-Regular-FD";
  border: 1px solid darkgray;
}

.mantine-Text-root.mantine-Notification-description.mantine-jtv1k6 {
  direction: rtl;
  text-align: right;
  font-family: "Vazir-Regular-FD";
  font-size: large;
}

.mantine-Text-root.mantine-Notification-title.mantine-10eez5h {
  direction: rtl;
  text-align: right;
  font-family: "Vazir-Regular-FD";
  font-size:medium;
  padding-bottom: 8px;
}

/* Fixed Table Size */
div.cell.cell-1-1.dash-fixed-content {
  margin-left: 0 !important;
}

.mantine-10o5s20.mantine-Accordion-contentInner {
  padding: 0 !important;
  margin: 0 !important;
}

.__mantine-ref-icon.mantine-Accordion-icon.mantine-1b57wu {
  justify-content: left !important;
  margin-left: 0px !important;
}

.mantine-UnstyledButton-root.__mantine-ref-control.mantine-Accordion-control.mantine-916gpk {
  padding-right: 16px !important;
}

.mantine-UnstyledButton-root.__mantine-ref-control.mantine-Accordion-control.mantine-916gpk {
  cursor: pointer;
  font-size: 1rem;
  padding: 1.25rem 1.25rem;
  margin-bottom: 0;
  background-color: #fefefe;
  border: 1.5px solid #ccc;
  cursor: pointer;
}

.mantine-UnstyledButton-root.__mantine-ref-control.mantine-Accordion-control.mantine-916gpk:hover {
  background-color: #f0f0f0;
  transition: 0.1s linear all;
}

.mantine-10o5s20.mantine-Accordion-contentInner {
  margin-left: .5rem!important;
  background-color: #ffffff;
}



.dropdown-menu.show{
  text-align: start;
}

.text-hover:hover {
  background-color: #acacac;
}

#my-login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.my-form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.my-form input {
  font-family: "Vazir-Regular-FD";
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.my-form .button {
  font-family: "Vazir-Regular-FD";
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.my-form .button:hover,
.my-form .button:active,
.my-form .button:focus {
  background: #43a047;
}

.my-form .my-message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.my-form .my-message a {
  color: #4caf50;
  text-decoration: none;
}